/* Imports/Constants */

$root-dir: "/";
$img-dir: "#{$root-dir}images/";
$font-dir: "#{$root-dir}fonts/";

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "base";

/* Main Styles */

html {
	min-height: 100%;
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $main;
	@include background-image(linear-gradient(bottom, $main 0%, $main-lt 100%)); // layer fill content
	min-width: 320px;
    //overflow: hidden;
	//margin: 50px 0;
	padding: 0 0 300px;
	font-family: $fontstack;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5em;
	color:#333;
	text-shadow: 0 1px 0 $light;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:300;
	margin-top: 1em;
	margin-bottom: .5em;
	color: $text;
}
strong {
	font-weight: bold;
}

a {
	color: $main;
	text-decoration: none;
	&:hover {
		color: $main-lt;
	};
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	@include input-fields;
	font-size: 30px;
	@include inline-hack;
}

button {
	@include button-style;
	font-family: $fontstack;
	@include small-caps;
	text-shadow: 0 1px 0 $light;
	padding: 5px 30px;
	&:active {
		@include basic-gradient ($accent, $accent-lt);
	};

}
ul, ol {
	margin-left: 50px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}



h1.logo {
	@include hide-text;
	@include retina-bg('grab-logo', 'png', 450px, 123px);
	width: 450px;
	height: 123px;
	margin: 0 auto;
}

.auth {
	@include knockout-text;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	form {
		@include inline-hack;
	}
	button {
		margin-left: 20px;
		@include basic-gradient (lighten($main-lt, 10%), $main-lt);
		@include knockout-text;
	}
}

nav {
	@include button-style;
	@include box-shadow(0 1px 30px rgba(0,0,0,.3), inset 0 -1px 0 rgba(0,0,0,.4), inset 0 1px 0 0 rgba(lighten($accent-lt, 50%), .75));
	position: relative;
	z-index: 50;
	height: 80px;
	padding: 30px;
	width: 100%;
	margin-left: -30px;
	font-size: 36px;
	line-height: 80px;
	vertical-align: middle;
	ul {
		@include retina-bg('divider', 'png', 42px, 93px);
		background-size: 42px 93px !important;
		background-position: center center;
	}
	li {
		@include inline-hack;
		text-align: center;
		height: 100%;
		width: 48%;
		a {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}

.dropdown {
	width: 38%;
	padding: 5%;
	display: none;
	@include retina-bg('form-bg', 'png', 15px, 1000px);
	background-color: lighten($main-lt, 10%);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 30px;
	@include box-shadow(0px 5px 30px 0px rgba(0, 0, 0, .25));
	position: absolute;
	z-index: 30;
	&.askform button, &.solicitform button {
		margin-top: 30px;
	}
	&.solicitform {
		//float: right;
		right: 0;
	}
	.optional {
		color: $mdgray;
		input & {
			border-bottom: 1px solid $mdgray;
		}
	}
	button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.fineprint {
	font-size: 16px;
	line-height: 1.5em;
	margin: 10px 0;
}

table, .requesteditems {
	background-color: $light;
	line-height: 1.25em;
	font-size: 36px;
	width: 100%;
	@include box-shadow(0px 5px 30px 0px rgba(0, 0, 0, .25));
	th {
		padding: 10px 50px;
		text-align: center;
		@include basic-gradient ($main-lt, $main);
		@include small-caps;
		@include knockout-text;
	}
	td {
		cursor: pointer;
		padding: 25px 50px;
		border-bottom: 1px solid $mdgray;
		position: relative;
		.conjunction {
			color: $mdgray;
			@include inline-hack;
			@include small-caps;
			font-size: .55556em;
			vertical-align: middle;
			padding: 0 20px;
		}
	}
	button {
		position: absolute;
		top: 30%;
		left: 400px;
		right: 400px;
		z-index: 10;
		font-size: .55556em;
	}
	.dropdown {
		position: absolute;
		z-index: 20;
		top: 100%;
		left: 25%;
		right: 25%;
		@include box-shadow(0px 5px 30px 0px rgba(0, 0, 0, .25), inset 0px 25px 40px -20px rgba(0, 0, 0, .15));
		button {
			z-index: 30;
			position: static;
		}
	}
	tr.pending:hover {
		background-color: $accent-md;
		p {
			@include opacity(0.5);
		}
	}
	tr.promised {
		background-color: lighten($main, 80%);
		p {
			//@include opacity(0.5);
		}
		.action {
			@include basic-gradient ($main-lt, $main);
			@include knockout-text;
		}
	}
	tr.fulfilled {
		background-color: $ltgray;
		p {
			@include opacity(0.35);
		}
	}
}

.fadeout {
	@include opacity(0.5);
}

.brochure {
	line-height: 1em;
	td {
		width: 50%;
		vertical-align: top;
		h2 {
			text-align: center;
		}
		p {
			font-size: 20px;
		}
		ol {
			font-size: 16px;
		}
	}
}

footer {
	text-align: center;
	@include knockout-text;
	position: relative;
	z-index: 1;
	a {
		color: $light;
		&:hover {
			color: lighten($main, 80%);
		};
	}
}




