<div id="submit" class="">
    <form accept-charset="UTF-8" action="/ask" class="form-vertical" data-remote="true" method="post">

        <div class="submit-inputs">
            <div class="control-group text optional">
                Name: <%= name %>
            </div>
            <div class="control-group text optional">
                What would you like?
                <div class="controls">
                    <textarea class="text optional" cols="80" id="post_description" name="description" placeholder="Post a Request" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="submit-button ask-submit">
          <input class="btn btn-primary" name="commit" type="submit" value="Submit">
        </div>
    </form>
</div>
