<%= erb :_submit_ask %>
<div class="ask" id="<%= ask._id %>">
  <div class="email">
    EMAIL: <%= ask.email %>
  </div>
  <div class="description">
    DESCRIPTION: <%= ask.description %>
  </div>
</div>
