<!-- CAN HAS CONTENT? -->
<table class="brochure">
	<tr>
        <th colspan="2">How it Works:</th>
    </tr>
	<tr>
		<td valign="top">
			<h2>Get what you need:</h2>
			<p><strong>Maybe you're too swamped to get lunch. Or you've just gotten "in the zone."</strong></p>
			<ol>
				<li>Post what you want, and from where.</li>
				<li>When someone accepts your offer, you'll get notified. </li>
				<li>Wait for your item to arrive.</li>
				<li>Transfer the cost plus $1 for a job well done from your bank account to the gopher.</li>
			</ol>
		</td>
		<td valign="top">
			<h2>Get paid:</h2>
			<p><strong>Are you running out to get lunch? Maybe a quick trip to the drug store?</strong></p>
			<ol>
				<li>See if anyone in your office or area has posted a request. </li>
				<li>You can accept someone's offer and pick up their requested item. </li>
				<li>Drop-off the item and note the damage.</li>
				<li>Get paid!</li>
			</ol>
		</td>
	</tr>
</table>