<br/>
<br/>
<br/>
<div class="container">
	<div class="hero-unit">
	  <div class="span10">
	      <h1>Questions or concerns?</h1>
	      <br/>
	        <form action="/email" method="post">
	          <fieldset>
	            <label for="name">Name</label>
	            <input type="text" name="name" id="name" placeholder="Enter your name" />
	            
	            <label for="email">Email</label>
	            <input type="email" name="email" id="email" placeholder="Enter your email address" />
	            
	            <label for="message">Message</label>
	            <textarea id="message" name="message" placeholder="Type your message here"></textarea>
	            <br>
	            <input id="submit" name="submit" type="submit" value="Send message" class="btn primary large" background-color="white"/>
	          </fieldset>
	        </form>
	    </div>
	  <p>*Return messages may take up to a day to process.</p>
	</div>

  <hr>
	<footer>
	  <p></p>
	</footer>
</div