<div style="margin: auto; width: 400px;">
    <p>Welp. Something went wrong. Maybe try something else?</p>
    <img src="http://2.bp.blogspot.com/-HmeaF8Rg5Ow/TdsngEXLijI/AAAAAAAADSM/Iqg5yiOaIsA/s1600/ohnoes.jpg">
</div>
