<% unless asks.nil? %>
<table class="requesteditems">
    <tr>
        <th>Up for Grabs</th>
    </tr>
  <% asks.each do |ask| %>
    <tr>
        <td><%= erb :_ask, :layout => false, :locals => { :ask => ask } %></td>
    </tr>
  <% end %>
</table>
<% end %>
