<br/>
<br/>
<br/>
<div class="container">
	<div class="hero-unit">
	  <h1>The best way to prepare for your coding interview</h1>
	  <img src="images/programming.png" height="260" width="260" align="right">        
	  <hr color="#94D1CA">
	  <p>Coderprep is the best way for coders to prep each other for interviews. Review common topics seen on coding interviews, track your progress on weak areas, and set up mock interviews with other coders. Take a demo mock interview here, explore our lessons, and sign up to track your progress.
	  </p>
    <br/>
    <a class="btn btn-primary btn-large" href="/interview"> Prepare Now &raquo;</a>
    <br/>
    <br/>
	</div>

  <hr>
	<footer>
	  <p>Developed by Don Yu & Jon Jia at Columbia's 2013 DevFest</p>
	</footer>
</div>
