<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>Coderprep</title>
	  <link rel="shortcut icon" href="favicon.ico">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="">
	  <meta name="author" content="">

    <!-- Le styles -->
    <link type="text/css" href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" href="/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <link href="/css/bootstrap-modal.css" rel="stylesheet"></link>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

    <!-- Le javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
    <script src="/js/bootstrap-modalmanager.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/rails.js"></script>
    <script src="/js/handlers.js"></script>
	</head>

	<body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">Coderprep</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/lessons">Lessons</a></li>
                  <%if session[:username] %>
                  <li><a href='/practice'>Practice</a></li>
                  <% end %>
                  <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class="nav pull-right">
                    <%if !session[:username] %>
                    <li>
                        <a role="button" data-toggle="modal" href="#signupModal">Sign Up</a>
                        <div id="signupModal" class="modal hide fade" tabindex="-1">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">x</button>
                                <h3>Join the Coderprep Community</h3>
                            </div>
                            <div class="modal-body">
                                <div class="row-fluid">
                                    <div class="span12">
                                    <div class="span6">
                                        <div class="logowrapper">
                                            <img class="logoicon" src="http://24.media.tumblr.com/tumblr_m1rt0fkQTZ1r8lg7to1_1280.jpg" alt="Ryan"/>
                                        </div>
                                    </div>
                                    <div class="span6">
                                    <form class="form-horizontal" action="/signup" method="post">
                                    <p class="help-block">Username</p>
                                    <div class="input-prepend">
                                    <span class="add-on">*</span><input class="prependedInput" size="16" type="text" name="username">
                                    </div>
                                    <p class="help-block">Email</p>
                                    <div class="input-prepend">
                                    <span class="add-on">*</span><input class="prependedInput" size="16" type="email" name="email">
                                    </div>
                                    <p class="help-block">Password</p>
                                    <div class="input-prepend">
                                        <span class="add-on">*</span><input class="prependedInput" size="16" type="password" name="password">
                                    </div>
                                    <hr>
                                    <div class="help-block">
                                    <button type="submit" class="btn btn-large btn-info">Sign Up</button>
                                    </div>
                                    </form>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                <div class="modal-footer">
                                    <p><i>Don't want to create an account? Try the demo then!</i></p>
                                </div>
                                </div>
                            </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                    <form method="post" action="/login" accept-charset="UTF-8">
                                        <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
                                        <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                                        <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                                        <label class="string optional" for="user_remember_me"> Remember me</label>
                                        <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
                                        <label style="text-align:center;margin-top:5px">or</label>
                        <input class="btn btn-primary btn-block" type="button" id="sign-in-facebook" value="Sign In with Facebook">
                                    </form>
                                </div>
                    </li>
                    <% else %>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= session[:username] %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                            <li><a href="/dashboard"><i class="icon-envelope"></i> Dashboard</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
<!--                     <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <%= session[:username] %> <b class="caret"></b></a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                            <ul class="nav nav-list">
                                <li><a href='/dashboard'>Dashboard</a></li>
                                <li><a href='/logout'>Logout</a></li>
                            </ul>
                        </div>
                    </li> -->
                    <% end %>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <br /><br /><br />
		<%=  yield %>
	</body>
</html>
