<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/screen.css">

        <script src="../public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="wrapper clearfix">
            <h1 class="logo">Grabinero</h1>
            <div class="auth">Hi, Alan! <button>Log Out</button></div>
            <nav>
                <ul>
                    <li><a href="#">While you're out!</a></li>
                    <li><a href="#">I'm going out!</a></li>
                </ul>
            </nav>
            <div class="form ask">
                <form action="">
                    <p>I want</p>
                    <input type="text" name="description" placeholder="(something)">
                    <p class="optional">from</p>
                    <input type="text" name="location" placeholder="(place, optional)" class="optional">
                    <button type="submit">Please!</button>
                </form>
            </div>
            <div class="form solicit">
                <form action="">
                    <p>I'm going to</p>
                    <input type="text" name="destination" placeholder="(place)">
                    <p class="optional">in</p>
                    <input type="text" name="time" placeholder="(time)" class="optional">
                    <button type="submit">Who needs?</button>
                </form>
            </div>
        </header>

        <article class="main wrapper clearfix">
            <table class="requesteditems">
                <tr>
                    <th>Up for Grabs</th>
                </tr>
                <tr>
                    <td>Alan<span class="conjunction">wants</span>a burrito<span class="conjunction">from</span>Chipotle.</td>
                </tr>
                <tr>
                    <td>Evan<span class="conjunction">is going to</span>Despana<span class="conjunction">in</span>20 minutes.</td>
                </tr>
                <tr>
                    <td>Sarah<span class="conjunction">wants</span>banh mi.</td>
                </tr>
                <tr>
                    <td>Don<span class="conjunction">is going to</span>Landmark<span class="conjunction">in</span>half an hour.</td>
                </tr>
            </table>
        </article>

        <footer class="wrapper">
            <p>&copy; 2013 Grabinero. </p>
            <p>Made with love for <a href="http://fintechhack.com/">Fintech Hackathon</a> by <a href="http://twitter.com/nonrational">@nonrational</a>, <a href="http://twitter.com/madysondesigns">@MadysonDesigns</a>, <a href="http://twitter.com/joeziemer">@joeziemer</a>, <a href="http://twitter.com/edrwr">@edrwr</a>, and <a href="http://twitter.com/don4yu">@don4yu</a>.</p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    <%=  yield %>
    </body>
</html>
