<br/>
<br/>
<br/>
<div class="container">
	<div class="row">
	  <div class="span12">
	  	<h2>Coding Interview Lessons</h2>
	  	<hr>
	  	<div class="clearfix"></div>
		  <div class="row">
		  	<div class="span7">
	        <h4><a href="/lessons/lists">Linked Lists</a></h4>
	        <p>Learn about one of the most basic of data structures, the list.</p>
		  	</div>
	    	<div class="span3">
	        Progress: <span class="pull-right strong">0%</span>
	        <div class="progress">
	  	      <div class="bar" style="width: 0%;"></div>
		  	  </div>
	    	</div>
		  </div>
		  <hr>
		   
		  <div class="row">
		  	<div class="span7">
	        <h4><a href="/lessons/stacks">Stacks</a></h4>
	        <p>Questions about stacks and questions that use stacks.</p>
		  	</div>
	    	<div class="span3">
	        Progress: <span class="pull-right strong">0%</span>
	        <div class="progress">
            <div class="bar" style="width: 0%;"></div>
		  	  </div>
	    	</div>
		  </div>
		  <hr>

		  <div class="row">
		  	<div class="span7">
	        <h4><a href="/lessons/trees">Binary Search Trees</a></h4>
	        <p>Trees not only convert carbon dioxide to oxygen, but are also commonly used when you want hierarchy and fast O(logn) sorted lookup.</p>
		  	</div>
	    	<div class="span3">
	        Progress: <span class="pull-right strong">0%</span>
	        <div class="progress">
            <div class="bar" style="width: 0%;"></div>
		  	  </div>
	    	</div>
		  </div>
		</div>
	</div>

  <hr>
	<footer>
	  <p>Developed by Don Yu & Jon Jia at Columbia's 2013 DevFest</p>
	</footer>
</div>