/* Imports/Constants */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/\.rvm\/gems\/ruby-1\.9\.3-p392\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Definitions */
/* Font Imports */
@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url("/fonts/modernpics-webfont.eot");
  src: url("/fonts/modernpics-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/modernpics-webfont.svg#ModernPictogramsNormal") format("svg"), url("/fonts/modernpics-webfont.woff") format("woff"), url("/fonts/modernpics-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url("/fonts/museo_slab_300-webfont.eot");
  src: url("/fonts/museo_slab_300-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museo_slab_300-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url("/fonts/museo_slab_500-webfont.eot");
  src: url("/fonts/museo_slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museo_slab_500-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Mixins */
/* Main Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000314}}
html {
  min-height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000321}}
body {
  background-color: #002457;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #002457), color-stop(100%, #00508a));
  background-image: -webkit-linear-gradient(bottom, #002457 0%, #00508a 100%);
  background-image: -moz-linear-gradient(bottom, #002457 0%, #00508a 100%);
  background-image: -o-linear-gradient(bottom, #002457 0%, #00508a 100%);
  background-image: linear-gradient(bottom, #002457 0%, #00508a 100%);
  min-width: 320px;
  overflow: hidden;
  margin: 50px 0;
  padding: 0;
  font-family: "MuseoSlab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: #333;
  text-shadow: 0 1px 0 white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000337}}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: .5em;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000344}}
a {
  color: #002457;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000347}}
a:hover {
  color: #00508a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000352}}
input[type="text"], input[type="email"], input[type="password"], textarea {
  font-family: "MuseoSlab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border: none;
  border-bottom: 1px solid #333333;
  outline: none;
  color: #333333;
  font-size: 16px;
  padding: 3px 10px;
  text-align: center;
  margin: 5px 0;
  font-size: 30px;
  display: inline-block;
  *display: inline;
  /* IE inline-block hack */
  zoom: 1;
  /* IE inline-block hack */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\00003145}}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
  border-bottom: 1px solid #feae31;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000358}}
button {
  color: #002457;
  border: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFE457', endColorstr='#FFFEAE31');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efe457), color-stop(100%, #feae31));
  background-image: -webkit-linear-gradient(#efe457, #feae31);
  background-image: -moz-linear-gradient(#efe457, #feae31);
  background-image: -o-linear-gradient(#efe457, #feae31);
  background-image: linear-gradient(#efe457, #feae31);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  font-family: "MuseoSlab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .66667em;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  padding: 5px 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\00003126}}
button:hover {
  color: #00508a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000364}}
button:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEAE31', endColorstr='#FFEFE457');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feae31), color-stop(100%, #efe457));
  background-image: -webkit-linear-gradient(#feae31, #efe457);
  background-image: -moz-linear-gradient(#feae31, #efe457);
  background-image: -o-linear-gradient(#feae31, #efe457);
  background-image: linear-gradient(#feae31, #efe457);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000370}}
h1.logo {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  background-image: url("/images/grab-logo.png");
  background-repeat: no-repeat;
  width: 450px;
  height: 123px;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi), only screen and (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\00003160}}
  h1.logo {
    background-image: url("/images/grab-logo@2x.png");
    background-size: cover;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000378}}
.auth {
  color: white;
  text-shadow: 0 -1px 0 #333333;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\0000387}}
.auth a:hover, button:hover .auth {
  color: #bdd8ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000383}}
.auth button {
  margin-left: 20px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF006EBD', endColorstr='#FF00508A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006ebd), color-stop(100%, #00508a));
  background-image: -webkit-linear-gradient(#006ebd, #00508a);
  background-image: -moz-linear-gradient(#006ebd, #00508a);
  background-image: -o-linear-gradient(#006ebd, #00508a);
  background-image: linear-gradient(#006ebd, #00508a);
  color: white;
  text-shadow: 0 -1px 0 #333333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\0000387}}
.auth button a:hover, button:hover .auth button {
  color: #bdd8ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\0000390}}
nav {
  color: #002457;
  border: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFE457', endColorstr='#FFFEAE31');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efe457), color-stop(100%, #feae31));
  background-image: -webkit-linear-gradient(#efe457, #feae31);
  background-image: -moz-linear-gradient(#efe457, #feae31);
  background-image: -o-linear-gradient(#efe457, #feae31);
  background-image: linear-gradient(#efe457, #feae31);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.75);
  position: relative;
  z-index: 10;
  height: 80px;
  padding: 30px;
  width: 100%;
  margin-left: -30px;
  font-size: 36px;
  line-height: 80px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\00003126}}
nav:hover {
  color: #00508a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003102}}
nav ul {
  background-image: url("/images/divider.png");
  background-repeat: no-repeat;
  background-size: 42px 93px !important;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi), only screen and (min-resolution: 1.5dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\00003160}}
  nav ul {
    background-image: url("/images/divider@2x.png");
    background-size: cover;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003107}}
nav li {
  display: inline-block;
  *display: inline;
  /* IE inline-block hack */
  zoom: 1;
  /* IE inline-block hack */
  text-align: center;
  height: 100%;
  width: 48%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003112}}
nav li a {
  width: 100%;
  height: 100%;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003120}}
.dropdown {
  width: 38%;
  padding: 5%;
  float: left;
  background-color: white;
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003126}}
.dropdown.ask button, .dropdown.solicit button {
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003129}}
.dropdown.solicit {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003132}}
.dropdown .optional {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003134}}
input .dropdown .optional {
  border-bottom: 1px solid #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003138}}
.dropdown button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003145}}
.requesteditems {
  background-color: white;
  font-size: 36px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003149}}
.requesteditems th {
  padding: 10px 50px;
  text-align: center;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00508A', endColorstr='#FF002457');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00508a), color-stop(100%, #002457));
  background-image: -webkit-linear-gradient(#00508a, #002457);
  background-image: -moz-linear-gradient(#00508a, #002457);
  background-image: -o-linear-gradient(#00508a, #002457);
  background-image: linear-gradient(#00508a, #002457);
  font-weight: bold;
  text-transform: uppercase;
  font-size: .66667em;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  text-shadow: 0 -1px 0 #333333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\0000387}}
.requesteditems th a:hover, button:hover .requesteditems th {
  color: #bdd8ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003156}}
.requesteditems td {
  cursor: pointer;
  padding: 25px 50px;
  line-height: 1.25em;
  border-top: 1px solid #eeeeee;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003162}}
.requesteditems td .conjunction {
  color: #999999;
  display: inline-block;
  *display: inline;
  /* IE inline-block hack */
  zoom: 1;
  /* IE inline-block hack */
  font-weight: bold;
  text-transform: uppercase;
  font-size: .66667em;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: .55556em;
  vertical-align: middle;
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003171}}
.requesteditems button {
  position: absolute;
  top: 30%;
  left: 400px;
  right: 400px;
  z-index: 10;
  font-size: .55556em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003179}}
.requesteditems .dropdown {
  position: absolute;
  z-index: 20;
  top: 100%;
  left: 25%;
  right: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003185}}
.requesteditems .dropdown button {
  z-index: 30;
  position: static;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003190}}
.requesteditems tr.pending:hover {
  background-color: #fdde6e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003192}}
.requesteditems tr.pending:hover p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003196}}
.requesteditems tr.promised {
  background-color: #f0f6ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003201}}
.requesteditems tr.promised .action {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00508A', endColorstr='#FF002457');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00508a), color-stop(100%, #002457));
  background-image: -webkit-linear-gradient(#00508a, #002457);
  background-image: -moz-linear-gradient(#00508a, #002457);
  background-image: -o-linear-gradient(#00508a, #002457);
  background-image: linear-gradient(#00508a, #002457);
  color: white;
  text-shadow: 0 -1px 0 #333333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\0000387}}
.requesteditems tr.promised .action a:hover, button:hover .requesteditems tr.promised .action {
  color: #bdd8ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003206}}
.requesteditems tr.fulfilled {
  background-color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003208}}
.requesteditems tr.fulfilled p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  opacity: 0.35;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003214}}
footer {
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #333333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/_base\.scss}line{font-family:\0000387}}
footer a:hover, button:hover footer {
  color: #bdd8ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003217}}
footer a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Sarah\/Sites\/grabinero\/public\/sass\/screen\.scss}line{font-family:\00003219}}
footer a:hover {
  color: #f0f6ff;
}
